<div style="border-bottom: 1px solid #e5e5e5;">
    <div class="sch">
        <div>
            <button class="shop"><strong>Shop</strong></button>
            <input type="search" placeholder="product search" id="in">
            <button id="icn"><img src="../../assets/images/small-search.png" style="width: 18px; height: 17px; background: no-repeat top left;"></button>
        </div>
        <div class="cbox">
            <div>My city:</div>
            <a id="city">Almaty</a>
        </div>
    </div>
    
</div>