*{
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-columns: 500px 500px;
    padding-left: 200px;
    width:1000px;
    height:1000px;
}
.container{
    border:1px solid whitesmoke;
    border-radius: 3px;
    width: 500px;
    height: 600px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.container .images{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:15px;
}
.container .images img{
    width:240px;
    height:240px;
    background-color: white;
    border:0.4px solid whitesmoke;
    position: relative;
}
.container .images button{
    margin-top: 30px;
    height: 40px;
    border-radius: 5px;
    width:100px;
    background-color: white;
    color:blue;
    font-size: 20px;
}
.container h3{
    font-size: 20px;
}
.rating{
    display: flex;
    flex-direction: row;
}
.rating img{
    width: 15px;
    height: 15px;
    background-color: white;
    margin-top:10px ;
}
.rating h4{
    margin-left: 5px;
    margin-top:10px;
}
.container button{
    width:15%;
    border-radius: 10px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/