body {
    font-family: sans-serif;
}
h1 {
    font-size: 100px;
    font-family: fantasy;
}
#cloud-pic {
    width: 100px;
    float:left;
    margin-right:6px;
    
}
#cloud-sidebar {
    background: rgb(255, 255, 219);
    margin-left:6px;
    float:right;
    width:40%;
}